@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.skill{
    @apply text-[12px] font-light
}

.title{
    @apply font-black w-full 
    flex items-start justify-center text-[3rem] font-normal
}

@media screen and (min-width: 1024px) {
    .title{
        @apply text-[6.9rem]
        items-center justify-start font-medium
    }
}

@media screen and (min-width: 1280px) {
    .title{
        @apply text-[9.4rem]
        items-center justify-start font-medium
    }
}

@media screen and (min-width: 1536px) {
    .title{
        @apply text-[12rem]
        items-center justify-start font-medium
    }
}