@import "tailwindcss";


.scrolled {
    background-color: #ecececab;
    /* Updated theme color */
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ff6f3c;
    transition: 500ms;
}


@media (max-width: 768px) {
    .menu {
        @apply w-full;
    }

    .navbar {
        @apply flex-col;
    }
}